POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=dispatch
POSTGRES_PASSWORD=dispatch_dev
POSTGRES_DB=dispatch
REDIS_HOST=localhost
REDIS_PORT=6379
OSRM_URL=http://localhost:5000
BACKEND_PORT=3001
FRONTEND_PORT=3000
JWT_SECRET=local_dev_secret_change_in_prod
